body{background: black}
.wrapper{

    margin: 0px auto;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
}
.block{
    width:400px;
    height: 400px;
    margin: 20px;
    position: relative;

}
.red{
    background: red;
    left: 0px;
    top: 100px;
}
.green{
    background: green;
    left: -150px;
    top: 150px;
}
.yellow{
    background: yellow;
    left: -100px;

}
.blue{
    background: blue;
    top: -50px;


}
.circle{
    border-radius: 50%;
    background: gray;
    width:150px;
    height: 150px;
    top:200px;
    left: 200px;
}

.block:hover {
    z-index: 100;
}